/* ==== COLORS ==== */
$totalBlack: #000000;
$black: "#1B1A1D";
$darknesGray: #29282C;
$darkGray: "#5B5757";
$mediumGray: "#363538";
$gray: "#888789";
$lightGray: "#B0AFB1";
$white: "#FFFFFF";
/* =============== */